<section class="container">
    <h3 class="title">Novo médico</h3>
    <% if flash[:error] %>
        <div class="message is-danger">
            <div class="message-body">
                <p><%= flash[:error] %></p>
            </div>
        </div>
    <% end %>
    <%= render 'form' %>
</section>
