<section class="container">
    <h3 class="title">Quer se voluntariar? Entraremos em contato</h3>
    <% if flash[:notice] %>
        <div class="message is-info">
            <div class="message-body">
                <p>
                    <%= flash[:notice] %>
                </p>
            </div>
        </div>
    <% end  %>
    <% if flash[:error] %>
        <div class="message is-danger">
            <div class="message-body">
                <p><%= flash[:error] %></p>
            </div>
        </div>
    <% end %>
    <%= render 'form', medic: @medic, url: medics_path %>
</section>
