<footer class="footer footer-dark">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="footer-column">
                    <div class="footer-header">
                        <h3>Iniciativa</h3>
                    </div>
                    <ul class="link-list">
                        <li>
                            <%= link_to "Sobre", about_path, remote: true %>
                        </li>
                    </ul>
                    <ul class="link-list">
                        <li>
                            <%= link_to "Ãrea administrativa", user_session_path, remote: true %>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <div class="footer-column">
                    <div class="footer-header">
                        <h3>Redes sociais</h3>
                    </div>
                    <ul class="link-list">
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
