<section class="hero is-medium is-default is-bold">
    <div class="hero-body">
        <div class="container">
                    <h1 class="title is-3 is-bold is-spaced has-text-centered">
                      Sobre nós
                    </h1>

                    <div class="content subtitle is-5 is-muted has-text-centered">
                        <p>
                            Iniciamos este projeto com o intuito de fornecer atendimentos de saúde mental gratuito por vídeo conferência para profissionais que estejam
                            na linha de frente neste momento difícil da pandemia, enfrentando situações de mudanças, medo, luto e incertezas.
                        </p>
                                 
                        <p>
                            As mudanças nas rotinas geram extremo desconforto em todos em situação de quarentena, porém, profissionais da área da saúde não só sofrem
                            estas mudanças em suas rotinas domésticas como também no trabalho, com deslocamento de setores e funções, mudanças de fluxos e cargas 
                            horárias excessivas.
                        </p>

                        <p>
                            O medo de uma doença nova que pouco conhecemos, de um surto ou uma doença grave de difícil controle gera medo e insegurança acerca de
                            nossas possibilidades de exercer nossa profissão e por nossa própria saúde também.
                        </p>

                        <p>
                            O luto da perda de nossos pacientes e de colegas de trabalho gera profunda tristeza e igualmente medo.
                            A incerteza do que esta por vir, quanto tempo vai durar e qual será a dimensão dos danos que vamos viver.
                        </p>
                      
                        <p>
                            Todas estas situações podem gerar sensações de medo, tristeza, angústia e ansiedade, irritabilidade, insônia, pensamentos de morte,
                            redução da concentração e distraibilidade.
                        </p>

                        <p>
                            Contamos com atendimentos de acolhimento multiprofissional e consultas psiquiátricas para ajudar nossos colegas que travam estas batalhas
                            tão intensa, árdua  e desgastante.

                            
                        </p>
                      
                        <p>
                            Não pertencemos a nenhum orgão Público ou Filantrópico, apenas profissionais da Saúde Mental com o intuito de ajudar outros colegas.
                            Não estamos na Linha de frente mas estamos na Retaguarda. 
  
                        </p>
                      
                        <p>
                            Precisa de ajuda? Quer se voluntariar também?  
                        </p>
                    </div>
                </div>
        </div>
    </div>
</section>
