<html>
    <head>
       <%= stylesheet_link_tag "public" %>
    </head>
    <body>
        <!-- headers, navbar e etc -->
        <section id="body">
            <%= yield %>
        </section>
        <!-- footer e etc -->
    </body>
    <%= javascript_include_tag "public" %>
</html>
