<html>
    <head>
     
    </head>
    <body>
        <!-- headers, navbar e etc -->
        <section id="body">
            <%= yield %>
        </section>
        <!-- footer e etc -->
    </body>
</html>
